<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Shop Online</title>

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="/css/slick.css"/>
        <link type="text/css" rel="stylesheet" href="/css/slick-theme.css"/>

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="/css/nouislider.min.css"/>

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="/css/style.css"/>

		<link rel="icon" href="/imgs/_logo/icon_title.png" />
    </head>
    <body>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a href="#"><i class="fa fa-phone"></i> 01656000130</a></li>
						<li><a href="#"><i class="fa fa-envelope-o"></i> ngophuochai1512138@gmail.com</a></li>
						<li><a href="#"><i class="fa fa-map-marker"></i> 231a/13 Dương Bá Trạc, P1, Q8, TP HCM</a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="/home/account/register"><i class="fa fa-user-o"></i> Đăng ký</a></li>
						<li><a href="/home/account/login"><i class="fa"></i> Đăng nhập</a></li>
					</ul>
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">	
						<!-- LOGO -->
						<div class="col-md-4">
							<div class="header-logo">
								<a href="/home" class="logo">
									<img src="/imgs/_logo/logo.png" alt="">
								</a>
							</div>	
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form action="/home/search" method="GET">
									<input name="name" class="input" placeholder="Nhập tên xe">
									<input hidden readonly name="category" class="input" value="%">
									<input hidden readonly name="producer" class="input" value="%">
									<button type="submit" class="search-btn">Tìm kiếm</button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li {{{_sections.navHomeActive}}}><a href="/home">Trang chủ</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Loại xe
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each layoutCat.categories}}
								<li><a href="/home/product/category/{{ID}}">{{Name}}</a></li>
								{{/each}}
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								Hãng xe
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								{{#each layoutPer.producers}}
								<li><a href="/home/product/producer/{{ID}}">{{Name}}</a></li>
								{{/each}}
							</ul>
						</li>
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							{{{_sections.breadcrumbRe}}}
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		{{{body}}}

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section"></div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-6 col-xs-9">
							<div class="footer">
								<h3 class="footer-title">LIÊN HỆ</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fa fa-map-marker"></i>231a/13 Dương Bá Trạc, P1, Q8, TP HCM</a></li>
									<li><a href="#"><i class="fa fa-phone"></i>01656000130</a></li>
									<li><a href="#"><i class="fa fa-envelope-o"></i>ngophuochai1512138@gmail.com</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">Thông tin</h3>
								<ul class="footer-links">
									<li><a href="#">Phiên bản 1.0.0</a></li>
									<li><a href="#">Phát triển bởi Ngô Phước Hải</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/slick.min.js"></script>
		<script src="/js/nouislider.min.js"></script>
		<script src="/js/jquery.zoom.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
</html>