{{#section 'title'}}
    Sản phẩm
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="javascript:;">Sản phẩm</a>
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
    $('.addItem').on('click', function() {
        var id = $(this).data('proid');
        $('#txtP').val(id);
        $('#txtQ').val(1);
        $('#frmAddItem').submit();
    });
</script>
{{/section}}

{{#with product}}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="frmAddItem" method="post" action="/home/cart/add">
                <input type="hidden" name="proID" id="txtP">
                <input type="hidden" name="quantity" id="txtQ">
            </form>
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="/imgs/{{ID}}/main.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="/imgs/{{ID}}/main.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{Name}}</h2>
                    <div>
                        <h3 class="product-price">{{Price}} VNĐ</h3>
                    </div>
                    <p>Số lượt xem: {{Views}}</p>
                    <p>Số lượng bán: {{QuantitySold}}</p>
                    <p>Xuất xứ: {{Country}}</p>
                    <p>Kiểu: {{CatName}}</p>
                    <p>Nhà sản xuất: {{PerName}}</p>
                    <p>{{Infor}}</p>
                </div><br><br>
                {{#if ../layoutVM.isLogged}}
                <div class="add-to-cart text-right">
                    <a data-proid="{{ID}}" href="javascript:;" class="addItem"><button class="primary-btn order-submit"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                </div>
                {{else}}
                <div class="add-to-cart text-right">
                    <a href="/home/account/login"><button class="primary-btn order-submit"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                </div>
                {{/if}}
            </div>
            <!-- /Product details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
{{/with}}

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản phẩm cùng kiểu</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {{#each productsCat5}}
                                <div class="col-md-3 col-xs-6">
                                    <div class="product">
                                        <div style="height: 210px;" class="product-img">
                                            <img src="/imgs/{{ID}}/main.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 style="height: 30px;" class="product-name">{{Name}}</h3>
                                            <h4 class="product-price">{{Price}} VNĐ</h4>
                                            <div>
                                                <a href="/home/product/detail/{{ID}}" class="btn btn-info" role="button">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        {{#if ../layoutVM.isLogged}}
                                        <div class="add-to-cart">
                                            <a data-proid="{{ID}}" href="javascript:;" class="addItem"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                                        </div>
                                        {{else}}
                                        <div class="add-to-cart">
                                            <a href="/home/account/login"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                                {{/each}}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->   
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->

<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Sản phẩm cùng nhà sản xuất</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                {{#each productsPer5}}
                                <div class="col-md-3 col-xs-6">
                                    <div class="product">
                                        <div style="height: 210px;" class="product-img">
                                            <img src="/imgs/{{ID}}/main.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 style="height: 30px;" class="product-name">{{Name}}</h3>
                                            <h4 class="product-price">{{Price}} VNĐ</h4>
                                            <div>
                                                <a href="/home/product/detail/{{ID}}" class="btn btn-info" role="button">Xem chi tiết</a>
                                            </div>
                                        </div>
                                        {{#if ../layoutVM.isLogged}}
                                        <div class="add-to-cart">
                                            <a data-proid="{{ID}}" href="javascript:;" class="addItem"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                                        </div>
                                        {{else}}
                                        <div class="add-to-cart">
                                            <a href="/home/account/login"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                                        </div>
                                        {{/if}} 
                                    </div>
                                </div>
                                {{/each}}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->   
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->