{{#section 'title'}}
    Danh sách
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="javascript:;">Danh sách</a>
    {{#with producer}}
    <li><a href="javascript:;">{{Name}}</a>
    {{/with}}
{{/section}}

{{#section 'js'}}
<script type="text/javascript">
	$('.addItem').on('click', function() {
	    var id = $(this).data('proid');
	    $('#txtP').val(id);
	    $('#txtQ').val(1);
	    $('#frmAddItem').submit();
	});
</script>
{{/section}}


<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form id="frmAddItem" method="post" action="/home/cart/add">
                <input type="hidden" name="proID" id="txtP">
                <input type="hidden" name="quantity" id="txtQ">
            </form>
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Loại xe</h3>
                    <div class="list-group">
                        {{#each layoutVM.categories}}
                        <a class="list-group-item"  href="/home/product/category/{{ID}}">{{Name}}</a>
                        {{/each}}
                    </div>
                </div>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Hãng xe</h3>
                    <div class="list-group">
                        {{#each layoutVM.producers}}
                        <a class="list-group-item"  href="/home/product/producer/{{ID}}">{{Name}}</a>
                        {{/each}}
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                {{!-- <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sắp xếp theo:
                            <select class="input-select">
                                <option value="0">Mặc định</option>
                                <option value="1">Mới nhất</option>
                                <option value="1">Bán chạy nhất</option>
                                <option value="1">Xem nhiều nhất</option>
                            </select>
                        </label>
                    </div>
                </div> --}}
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                {{#if noProducts}}
                    <div>
                        <h3><b>KHÔNG CÓ SẢN PHẨM</b></h3>
                    </div>
                {{else}}
                    {{#each products}}
                    <div class="col-md-4 col-xs-6">
                        <div class="product">
                            <div style="height: 210px;" class="product-img">
                                <img src="/imgs/{{ID}}/main.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <h3 style="height: 30px;" class="product-name"><a href="#">{{Name}}</a></h3>
                                <h4 class="product-price">{{Price}} VNĐ</h4>
                                <div>
                                    <a href="/home/product/detail/{{ID}}" class="btn btn-info" role="button">Xem chi tiết</a>
                                </div>
                            </div>
                            {{#if ../layoutVM.isLogged}}
                            <div class="add-to-cart">
                                <a data-proid="{{ID}}" href="javascript:;" class="addItem"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                            </div>
                            {{else}}
                            <div class="add-to-cart">
                                <a href="/home/account/login"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ</button></a>
                            </div>
                            {{/if}}
                        </div>
                        <br><br>
                    </div>
                    {{/each}}
                {{/if}}
                <!-- /store products -->
                </div>
                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <ul class="store-pagination">
                        <li><a href="?page={{valueLeft}}"><i class="fa fa-angle-left"></i></a></li>
                        {{#each page_numbers}}
                            {{#if isCurrentPage}}
                            <li class="active"><a style="color:white" href="javascript:;">{{value}}</a></li>
                            {{else}}
                            <li><a href="?page={{value}}">{{value}}</a></li>
                            {{/if}}
                        {{/each}}
                        <li><a href="?page={{valueRight}}"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->