{{#section 'title'}}
    Trang chủ
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
{{/section}}

{{#section 'navHomeActive'}}
    class = "active"
{{/section}}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm mới</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {{#each layoutVM.products}}
                                <div class="col-md-3 col-xs-6">
                                    <div class="product">
                                        <div style="height: 250px;" class="product-img">
                                            <img src="/imgs/{{ID}}/main.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{Name}}</a></h3>
                                            <h4 class="product-price">$980.00</h4>
                                            <div>
                                                <a href="/home/product" class="btn btn-info" role="button">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->   
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm bán chạy nhất</h3>
                </div>
            </div>
            <!-- /section title -->

            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                {{#each layoutVM.products}}
                                <div class="col-md-3 col-xs-6">
                                    <div class="product">
                                        <div style="height: 250px;" class="product-img">
                                            <img src="/imgs/{{ID}}/main.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{Name}}</a></h3>
                                            <h4 class="product-price">$980.00</h4>
                                            <div>
                                                <a href="/home/product" class="btn btn-info" role="button">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->   
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm được xem nhiều nhất</h3>
                </div>
            </div>
            <!-- /section title -->
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-3">
                                <!-- product -->
                                {{#each layoutVM.products}}
                                <div class="col-md-3 col-xs-6">
                                    <div class="product">
                                        <div style="height: 250px;" class="product-img">
                                            <img src="/imgs/{{ID}}/main.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-name"><a href="#">{{Name}}</a></h3>
                                            <h4 class="product-price">$980.00</h4>
                                            <div>
                                                <a href="/home/product" class="btn btn-info" role="button">Xem chi tiết</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                <!-- /product -->
                            </div>
                            <div id="slick-nav-3" class="products-slick-nav"></div>
                        </div>
                        <!-- /tab -->
                    </div>
                </div>
            </div>
            <!-- Products tab & slick -->   
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->