{{#section 'title'}}
    Thanh toán
{{/section}}

{{#section 'breadcrumbRe'}}
    <li><a href="/home">Trang chủ</a>
    <li><a href="/home/cart">Giỏ hàng</a>
    <li><a href="/home/cart/checkout">Thanh toán</a>
{{/section}}

{{!-- {{#section 'js'}}
<script type="text/javascript">
	$('.removeItem').on('click', function() {
        var id = $(this).data('proid');
	    $('#txtP').val(id);
	    $('#frmRemove').submit();
	});
</script>
{{/section}} --}}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <form action="/home/cart/checkout" method="POST">
                <div class="col-md-7">
                    <!-- Billing Details -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Thông tin giao hàng</h3>
                        </div>
                        <div class="form-group">
                            <input name="address" class="input" type="text" placeholder="Địa chỉ giao hàng">
                        </div>
                        <div class="form-group">
                            <label>Tỉnh/ Thành phố:</label>
                            <input name="addressCity" class="input" type="text" placeholder="Tỉnh/ thành phố">
                        </div>
                        <div class="form-group">
                            <label>Quận/ Huyện:</label>
                            <input name="addressCountry" class="input" type="text" placeholder="Quận/ Huyện">
                        </div>
                        <div class="form-group">
                            <label>Phường/ Xã:</label>
                            <input name="addressCommune" class="input" type="text" placeholder="Phường/ Xã">
                        </div>
                    </div>
                    <!-- /Billing Details -->
                </div>

                <!-- Order Details -->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Thông tin đơn hàng</h3>
                    </div>
                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>Sản phẩm</strong></div>
                            <div><strong>Tổng tiền</strong></div>
                        </div>
                        <div class="order-products">
                            {{#each items}}
                            <div class="order-col">
                                <div>{{quantity}}x {{product.Name}}</div>
                                <div>{{amount}}</div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="order-col">
                            <div><strong>Thành tiền</strong></div>
                            <div><strong class="order-total">{{sumAmount}}</strong></div>
                        </div>
                    </div>
                    <input type="hidden"name="products" value="{{products}}">
                    <input type="hidden" name="username" value="{{layoutVM.curUser.username}}">
                    <button type="submit" class="primary-btn order-submit">Tiến hành thanh toán</button>                   
                </div>
                <!-- /Order Details -->
            </form>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->